

html {
  font-size: 18px;
  font-family: Helvetica;
  line-height: 1.4;
}

body {
  margin: 0;
}

/**Banner/Header Structure**/

.banner {
  display: flex;
  justify-content: center;
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  width: 100%;
  height: 31rem;
}

.bannercontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 31rem;
  width: 960px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  background-color: cadetblue;
  height: auto;
}

/**Logo**/

.logo {
  display: flex;
  align-items: center;
  padding: 1rem 0rem 1rem 2rem;

}

.logo img {
  height: 1.5rem;
}

.logo span {
  padding-left: 1rem;
  font-size: 1rem;
  color: white;
}

/**Navigation**/

#mobilenav {
  display: none;
}
nav {
  padding-right: 2rem;
}
nav a {
  color: white;
  padding-left: 2rem;
}

.bannerbox {
  position: relative;
  top: 10rem;
  left: 2rem;
  background-color: white;
}

.bannerbox h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  padding: 1.5rem 5rem;
}

/**Services**/

.maincontainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.sitecontainer {
  display: flex;
  flex-direction: column;
  width: 960px;
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 14rem;
}

.exams,
.fittings,
.delivery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
  width: 10rem;
  padding: 0 3rem;
}

.exams p,
.fittings p,
.delivery p {
  text-align: center;
}

.exams img {
  height: auto;
  width: 3.5rem;
}

.fittings img {
  height: auto;
  width: 5rem;
}

.delivery img {
  height: auto;
  width: 5rem;
}

/**Business Philosophy and Appointment Information**/

.info {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.info h3 {
  font-size: 1rem;
  font-weight: bold;
  background-color: cadetblue;
  color: white;
  width: 10rem;
  padding: 0.5rem 1.25rem;
}

.philosophy,
.appointments {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.appointments {
  padding-left: 5%;
}
.philosophy,
.appointments p {
  font-size: .89rem;
}
/**Footer and Copyright**/

.footer {
  display: flex;
  align-items: center;
  background-color: azure;
  height: 10rem;
}

.copyright {
  display: flex;
  align-items: center;
}
.copyright img {
  height: 1.5rem;
  padding-left: 4rem;
  padding-right: 1rem;
}

/**Tablet and Mobile Landscape Mode**/
/**and (min-width: 649px)
and (max-width: 960px) Again, Worked in My Testing on Browser, But Just Using Same Points from Secret Agent Supply**/
@media only screen
and (max-width: 1024px) {

  .bannercontainer {
    width: 100%;
  }
  .sitecontainer {
    width: 100%;
  }
  .banner {
    height: 22rem;
  }
  .bannerbox {
    position: relative;
    top: 5rem;
    left: 2rem;
  }
  .bannerbox h1 {
    padding: .75rem 4rem;
    font-size: 1.33rem;
  }
  .header {
    margin: 0;
  }
}

/**Mobile Portrait**/
/**and (max-width: 648px) This breakpoint worked in browser but not on a phone**/
@media only screen
and (max-width: 648px)
and (min-width: 320px) {
  .logo span {
    display: none;
  }
  .bannercontainer {
    width: 100%;
    height: 17rem;
}
  .banner {
    height: 17rem;
  }

  .header {
    margin: 0;
  }
  nav {
    display: none;
  }
  #mobilenav {
    display: flex;
  }
  .bannerbox {
    position: relative;
    top: 9rem;
    left: 0;
    width: 100%;
  }
  .bannerbox h1 {
    padding: 0;
    text-align: center;
    font-size: 1rem;
  }
  .sitecontainer {
    width: 100%;
  }
  .services {
    flex-direction: column;
    height: auto;
  }
  .exams {
    margin-top: 3.77rem;
  }

  .fittings,
  .delivery {
    margin-top: 1.54rem;
  }
  .exams,
  .fittings,
  .delivery {
    justify-content: center;
  }
  .info {
    flex-direction: column;
    align-items: center;
  }
  .info h3 {
    width: 100%;
  }
  .info p {
    font-size: 0.77rem;
  }
  .philosophy {
    width: 100%;
  }
  .appointments {
    width: 100%;
    padding: 4rem 0 0 0;
  }
  .copyright span {
    display: none;
  }
  .copyright img {
    padding: 0;
  }
  .footer {
    justify-content: center;
  }
}
